{% load staticfiles %}
<html>
  <head>
    <title>Add Raw Image</title>
  </head>
  <body>
    {% if complete %}
    <h1> Complete </h1>
    {% endif %}
    <table>
      <tr>
        <td>Location</td>
        <td>Level</td>
        <td>Side</td>
        <td>Image</td>
        <td>Created</td>
      </tr>
      {% for r in raw_images %}
      <tr>
        <td>{{ r.location }}</td>
        <td>{{ r.level }}</td>
        <td>{{ r.side }}</td>
        <td><img src="{{ MEDIA_URL }}{{ r.image }}" width="150" height="100" /></td>
        <td>{{ r.created }}</td>
      </tr>
      {% endfor %}
    </table>
    <form action="" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
